/* Write your CSS here */
.header-container {
  text-align: center;
  align-self: stretch;
  background-color: #cbd5e1;
  margin-top: 64px;
}
.header-heading {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
  color: #475569;
}

@media screen and (min-width: 768px) {
  .header-heading {
    font-size: 48px;
  }
}
